@import "tailwindcss";

@font-face {
    font-family: Bricolage;
    src: url(./Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf);
  }

@theme {
  --color-black: #001825;
  --color-white: #f9f9f9;
}
@layer components{
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl/snug font-bold mb-4
  }
  h2 {
    @apply text-5xl/snug
  }
  h3 {
    @apply text-4xl/snug
  }

  body {
    /* font-family: "Roboto", sans-serif; */
    font-family: Bricolage, sans-serif;
    color: #001825;
    background-color: #f9f9f9;
  }
  body {
    @apply max-w-[1440px] mx-auto
  }
  input {
    @apply w-full border text-black shadow-lg focus:outline-[#0066FF] focus:shadow-[#0066FF21] rounded-lg h-10 px-4
  }
  .error-input {
    @apply border-red-300! shadow-red-50!
  }
  .correct-input {
    @apply border-black!
  }
}
